@model ReportModel
@{
    ViewData["Title"] = "Отчет по продажам";
}
<div class="container">
    <div class="row mt-5">
        <h2>Отчет по продажам</h2>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Применить" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <p>Всего продано @Model.Count товаров на сумму @Model.Summ BYN</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Наименование товара
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Сумма
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ReportProducts)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.Summ
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>